@inherits LayoutComponentBase

<PageTitle>Maquina de Troco</PageTitle>

<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="navBar">
            <NavBar/>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
