@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" style="justfy-content: center;">
    <a class="navbar-brand" href="#"><h1 style=""> $ Maqusina de Troco $</h1></a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
