@page "/fetchdata"
@*
<PageTitle>Weather forecast</PageTitle>
<div class="card border-primary mb-1" style="box-shadow:10px 5px 5px black; min-height:40rem;">
  <div class="card-header" style="display:flex"><h1> - Bem Vindo!!! <smal> - Esta é a Maquina de Troco -</smal></h1></div>
	<div class="card-body" style="padding:3rem;">
			<div class="container" style="display:flex;">
				<div class="row gx-5">
				





			</div>
		</div>
	</div>
</div>

@code {


}
*@