@page "/"

<PageTitle>Home</PageTitle>
<div class="card border-primary mb-1" style="box-shadow:10px 5px 5px black; min-height:40rem;">
  <div class="card-header" style="display:flex"><h1> - Bem Vindo!!! <smal> - Esta é a Maquina de Troco -</smal></h1></div>
	<div class="card-body" style="padding:3rem;">
			<div class="container" style="display:flex;">
				<div class="row gx-5">
				<div class="col card text-white bg-info mb-3" style="box-shadow: 10px 5px 5px black; min-width:400px; margin-top:1rem; text-align: center;">
					<div class="card-header">
						<h2>Gerenciando Suas Moedas</h2>
					</div>
					<div class="card-body">
					<h4 style="margin-top:1.5rem;"> São 3 Operações para lhe ajudar a calcular seu troco de uma forma mais organizada.</h4>
					<h3 style="margin-top:1.5rem;"> Cada moeda vale muito!.</h3>
					</div>
				</div>
				<div class="col-1" style="padding:2rem; min-width:350px; display: flex; justify-content: center;">
					<fieldset class="form-group">
						<legend class="mt-4"><h1 style="text-align: center; font-size3rem;">Descrição:</h1></legend>
						<div Style="text-align: center;">
							<div class="form-check form-switch" style="margin-top:1rem;">
							<label class="form-check-label" for="flexSwitchCheckDefault"><h5>- Abasteça o seu Caixa;</h5></label>
							</div>
							<div class="form-check form-switch" style="margin-top:1rem;">
							<label class="form-check-label" for="flexSwitchCheckChecked"><h5>- Retire Moedas quando precisar;</h5></label>
							</div>
							<div class="form-check form-switch" style="margin-top:1rem;">
							<label class="form-check-label" for="flexSwitchCheckChecked"><h5>- Gerar Troco a partir de um valor informado;</h5></label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col" style="min-width:350px;">
					<ul class="list-group">
						<a href="#" class="txt-center list-group-item list-group-item-action active">
							<h2 style="tex-align:center; text-align:center;">$$ CAIXA $$</h2>
						</a>
						@foreach (var moeda in moedasCaixa)
						{
							<li class="list-group-item d-flex justify-content-between align-items-center">
									<h5>Moedas @moeda.Nome</h5>
									<span class="badge bg-primary rounded-pill-lg" style="font-size:1rem;">@moeda.Qtd</span>
							</li>	
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	//Instanciação dos Objetos
	List<Moeda> moedasCaixa = new List<Moeda>();
	MoedaLogic moedaLogic = new MoedaLogic();

	//Variáveis auxiliares do Caixa renderização de Elementos na tela, Usando Biding, one-way e two-way data dind.
	static string nomeMoedaSelected { get; set; } = "";
	static int idMoedaSelected { get; set; } = 0;
	static int qtdMoedasSelected { get; set; } = 0;
	static double vlrMoedaInputed { get; set; } = 0.00;
	static List<string> nomesMoedas = new List<string>()
	{
		"R$1,00 Real",
		"R$0,50 centavos",
		"R$0,25 centavos",
		"R$0,10 centavos",
		"RS0,05 centavos",
		"R$0,01 centavo"
	};

	protected override async Task OnInitializedAsync()
	{
		//Verifica se o caixa foi iniciado, caso não inicializa Com Valor zero e se sim busca as informações no Db.
		if (moedasCaixa.Count < 1)
		{
			await moedaLogic.Create(new Moeda("R$1,00 Real") { Valor = 1.00, Qtd = 0 });
			await moedaLogic.Create(new Moeda("R$0,50 centavos") { Valor = 0.50, Qtd = 0 });
			await moedaLogic.Create(new Moeda("R$0,25 centavos") { Valor = 0.25, Qtd = 0 });
			await moedaLogic.Create(new Moeda("R$0,10 centavos") { Valor = 0.10, Qtd = 0 });
			await moedaLogic.Create(new Moeda("RS0,05 centavos") { Valor = 0.05, Qtd = 0 });
			await moedaLogic.Create(new Moeda("R$0,01 centavo") { Valor = 0.01, Qtd = 0 });
		}
		else
		{	
			moedasCaixa = await moedaLogic.List();
		}

	}

}