@page "/"

<PageTitle>Index</PageTitle>
<div class="card border-primary mb-1" style="box-shadow:10px 5px 5px black; height:40rem;">
  <div class="card-header"><h1>Bem Vindo!!!</h1></div>
	<div class="card-body">
		<h4 class="card-title">Primary card title</h4>
		<div class="container">
			<div class="row">
				<div class="" style="max-width:350px;">	
					<ul class="list-group">
						<a href="#" class="txt-center list-group-item list-group-item-action active">
							<h2 style="tex-align:center;">$$ CAIXA $$</h2>
						</a>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 1 real</h5>
						<span class="badge bg-primary rounded-pill">14</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 50 centavos</h5>
						<span class="badge bg-primary rounded-pill">2</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 25 centavos</h5>
						<span class="badge bg-primary rounded-pill">1</span>
					  </li>
					   <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 10 centavos</h5>
						<span class="badge bg-primary rounded-pill">1</span>
					  </li>
					   <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 05 centavos</h5>
						<span class="badge bg-primary rounded-pill">1</span>
					  </li>
					   <li class="list-group-item d-flex justify-content-between align-items-center">
						<h5> Moedas de 01 centavo</h5>	
						<span class="badge bg-primary rounded-pill">1</span>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


@code{



}